<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Héroes Tecnológicos</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque facere distinctio itaque quo aspernatur laudantium. Aperiam odio atque ea! Distinctio officia omnis, error adipisci suscipit, natus enim, praesentium repudiandae quos veritatis laborum dolores asperiores totam fugiat nostrum officiis libero dignissimos blanditiis facilis voluptates mollitia. Inventore atque dolorem cumque praesentium laborum.</p>
</body>
</html>