<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header>
      <img src="/images/icono-liebre.png" alt="Logo" />

      <nav>Barra de busqueda</nav>

      <div>Comprá en cuotas y sin tarjeta de crédito</div>

      <ul>
        <li><a href="Ofertas">Ofertas</a></li>
        <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
        <li><a href="Vender">Vender</a></li>
        <li><a href="Ayuda">Ayuda</a></li>
      </ul>

      <ul>
        <li><a href="Creá tu cuenta">Creá tu cuenta</a></li>
        <li><a href="Ingresá">Ingresá</a></li>
        <li><a href="Mis compras">Mis compras</a></li>
      </ul>
    </header>
    <main>
<section class="seccion--visita">
    <h2>Basado en tu última visita</h2>
<img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
 <ul>
    <li>$6.770</li>
    <li>40% OFF</li>
    <li>Cafetera Moulinex</li>
    
 </ul>  



  
    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera">
  <ul>
    <li>$230.000</li>
    <li>  20% off</li>
    <li> MacBook Pro 2019</li>
  </ul>

        
      
       
    
</section>
<img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera">
<ul>
    <li> $70.500</li>
    <li>10% off</li>
    <li>Samsung Galaxy S10
    </li>
</ul>
   
    
    
<img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera">
<ul>
    <li> $23.200</li>
    <li> 
        5% off</li>
    <li>SmartTv Samsung 43"</li>
</ul>
  
    


<section class="seccion--ofertas">
<h2>Ofertas</h2>
<img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
<ul>
    <li>$6.770</li>
    <li>40% OFF</li>
    <li>Cafetera Moulinex</li>
    
 </ul>  
    </p>
    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera">
    <ul>
        <li>$230.000</li>
        <li>  20% off</li>
        <li> MacBook Pro 2019</li>
      </ul>
</section>
<img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera">
<ul>
    <li> $70.500</li>
    <li>10% off</li>
    <li>Samsung Galaxy S10
    </li>
</ul>
<img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera">
<ul>
    <li> $23.200</li>
    <li>5% off</li>
    <li>SmartTv Samsung 43"</li>
</ul>
  
</section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés
                con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </section>
        <section>
            <h3>● Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés
                envíos gratis en miles de productos. Es un
                beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3> Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
                hay nada que no puedas hacer, porque estás
                siempre protegid@.</p>
        </section>
        <section>
            <h3>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            <p></p>
        </section>

    </footer>
  </body>
</html>
