<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/babbage">BABBAGE</a></li>
        <li><a href="/berners-lee">BERNERS-LEE</a></li>
    </ul>
    <h1>Babbage</h1>
    <hr>
    <img src="https://www.bing.com/th?id=OIP.k38Oxcs_B0lqwN5kxaBSKwAAAA&w=200&h=200&c=8&rs=1&qlt=90&r=0&o=6&pid=3.1&rm=2" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eaque, rem nisi ab consequuntur veniam aut veritatis quia magnam impedit dolorem accusantium libero exercitationem magni ipsum quidem officia sint voluptates.</p>
    <img src="/images/babbage.jpg" alt="esta es un imagen más reciente de Babbage">
</body>
</html>