<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Babbage</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Babbage</h1>
    <hr />
    <img
      src="https://www.bing.com/th?id=OIP.k38Oxcs_B0lqwN5kxaBSKwAAAA&w=200&h=200&c=8&rs=1&qlt=90&r=0&o=6&pid=3.1&rm=2"
      alt=""
    />
    <p>
      Charles Babbage fue un matemático y científico británico.​ Diseñó y
      desarrolló una calculadora mecánica capaz de calcular tablas de funciones
      numéricas por el método de diferencias.
    </p>
    <img
      src="/images/babbage.jpg"
      alt="esta es un imagen más reciente de Babbage"
    />
  </body>
</html>
