<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Clarke</h1>
    <hr />
    <img
      src=""
      alt=""
    />
    <p>
      Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un escritor
      y científico británico, autor de obras de divulgación científica y de
      ciencia ficción como 2001: Una odisea del espacio
    </p>
    <img
      src="/images/clarke.jpeg"
      alt="esta es un imagen más reciente de Babbage"
    />
  </body>
</html>
