<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Hamilton</h1>
    <hr />
    <img
      src=""
      alt=""
    />
    <p>
      William Rowan Hamilton fue un matemático, físico, y astrónomo irlandés, ​
      que hizo importantes contribuciones al desarrollo de la óptica, la
      dinámica, y el álgebra. Su descubrimiento del cuaternión, junto con su
      sistematización de la dinámica, son sus trabajos más conocidos.
    </p>
    <img
      src="/images/hamilton.jpg"
      alt="esta es un imagen más reciente de Babbage"
    />
  </body>
</html>
