<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Hopper</h1>
    <hr />
    <img
      src=""
      alt=""
    />
    <p>
      Grace Murray Hopper fue una científica de la computación y militar
      estadounidense con grado de contraalmirante. Fue pionera en el mundo de
      las ciencias de la computación y la primera programadora que utilizó el
      Mark I.
    </p>
    <img
      src="/images/hopper.jpg"
      alt="esta es un imagen más reciente de Babbage"
    />
  </body>
</html>
