<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Héroes</h1>
    <a href="#lejos">Ir abajo</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam veritatis
      sit quas, alias cumque consectetur esse ullam ipsam perspiciatis similique
      laudantium ea, aut amet odio facere. <span>Blanditiis</span> laboriosam
      rerum saepe!
    </p>
    <h2>Biografía</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, sint hic
      eius illum fugit excepturi laboriosam sunt vel ad fuga eos minima, aliquid
      quam, sequi recusandae? Cupiditate animi numquam consequatur!
    </p>
    <h3>Lista de compras</h3>
    <ol>
      <li>Papas</li>
      <li>Tomate</li>
      <li>Cebolla</li>
      <li>Huevos</li>
    </ol>
    <h3>Pendientes</h3>
    <ol type="a">
      <li>Ejercios JS</li>
      <li>Estructura HTML</li>
      <li>Estilos CSS</li>
    </ol>
    <h3>Mi familia</h3>
    <ul>
      <li>Papá</li>
      <li>Mamá</li>
      <li>Hermana</li>
    </ul>
    <ul type="square">
      <li>Tio</li>
      <li>Primo</li>
      <li>Prima</li>
    </ul>
    <ul type="none">
      <li>Mi vecino</li>
      <li>Mi vecina</li>
    </ul>
    <h4 id="lejos">Lejos de casa</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos ex unde
      maxime expedita ea, illo itaque distinctio quia beatae architecto quos,
      dolorum eligendi doloremque facilis, optio perferendis! Iusto, ipsam
      provident.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi cumque
      modi enim commodi, asperiores dolorem dolore molestiae, amet
      exercitationem, perspiciatis odit aliquid. Hic adipisci a aut quisquam,
      optio quam in fugiat animi veniam quas maxime dolorem minima mollitia
      magnam officia autem maiores iste error, laboriosam vitae quaerat deserunt
      eum omnis? Deleniti aliquam nobis pariatur eligendi voluptatum illo neque
      reiciendis quibusdam officiis? Distinctio, natus, ipsa omnis ea doloribus
      soluta commodi itaque ex ipsam tenetur architecto, libero inventore error
      deleniti! Ullam qui ipsa vel, totam rem dicta pariatur, ipsam ea modi
      quisquam, neque odit. Inventore laborum voluptate ullam praesentium nisi,
      eaque consequatur alias. Rerum facilis incidunt ut velit quidem atque
      voluptatem vero consequatur accusantium, blanditiis odit, assumenda ab
      error consectetur. Corrupti similique explicabo autem iusto nam neque, vel
      nulla voluptatibus eaque laudantium. Ex vitae in inventore aperiam
      praesentium ut? Corporis ipsa possimus perspiciatis sunt pariatur sequi,
      et ullam sit, ducimus minus adipisci similique. Quod quos vel, maiores,
      necessitatibus suscipit accusamus nostrum perferendis quidem et blanditiis
      mollitia earum culpa velit est, excepturi distinctio dolorum dolores ipsa
      adipisci! Omnis voluptatibus modi aspernatur totam recusandae vero quasi.
      Dicta corporis quis obcaecati reiciendis natus ad aliquid omnis a
      voluptates modi deserunt blanditiis quia rerum ratione dolor, soluta
      recusandae voluptate nemo adipisci? Ipsa odio molestias eius quod ratione
      culpa et hic nisi, ipsam fugit illum tempore ea animi quos quae! Porro
      ullam dolorem maiores error maxime tenetur, alias esse cupiditate, iste
      beatae saepe? Nam cum nulla enim nostrum iusto voluptas fuga porro, velit
      quae quasi officiis odit, numquam impedit? Similique dolorem, recusandae
      minima harum quidem quod voluptatibus cupiditate beatae, saepe neque
      adipisci consequuntur quaerat dolore voluptas qui. Optio nulla id facilis
      inventore sapiente eum et aut quaerat iure beatae facere est debitis
      voluptas, adipisci ducimus commodi voluptates aspernatur reiciendis
      consequatur velit, atque assumenda nam. Tempora, odit labore nisi
      perspiciatis distinctio incidunt dolores debitis necessitatibus
      perferendis rerum voluptate eius quaerat aperiam facilis nam facere
      officia fugit reiciendis eligendi dolorem alias iusto exercitationem.
      Maiores veritatis, porro dolorem qui numquam fugiat laudantium. Soluta
      commodi quo similique omnis placeat, eum vitae quam, corrupti at itaque
      necessitatibus non labore? Explicabo eligendi est officia corrupti?
      Nesciunt expedita veritatis fuga iste, quis ipsum fugit at? Excepturi
      tempore omnis repudiandae, nesciunt neque ad ratione reprehenderit
      aspernatur obcaecati incidunt quae magnam praesentium eum suscipit vero
      officiis, quo facere voluptatem quaerat! Aliquam ab voluptatem dolorem nam
      nihil cum esse magnam quod sint repellendus illum autem sed, asperiores
      necessitatibus, libero temporibus? Velit numquam delectus aliquid
      repudiandae culpa tempore eligendi nam libero incidunt at! Ipsum amet ad
      doloribus velit. Odit incidunt molestiae sit enim numquam ipsam earum
      excepturi, nihil alias beatae esse, facilis assumenda quam ducimus quia?
      Dolore impedit dolores fugiat cupiditate tenetur, doloribus, unde
      perspiciatis iste expedita veritatis totam soluta modi aspernatur
      excepturi odio porro facilis id? Molestias suscipit voluptas, voluptatibus
      a dolorem laboriosam, id obcaecati incidunt ipsa esse laborum quos sunt
      voluptatum! Minus, ipsam. Autem commodi voluptatum nihil facere optio ut
      aspernatur nesciunt qui mollitia laboriosam, voluptatibus excepturi
      corporis ipsa corrupti atque impedit, ipsum architecto, non odio.
    </p>
    <a href="#">Ir arriba</a>
  </body>
</html>
