<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/babbage">BABBAGE</a></li>
      <li><a href="/berners-lee">BERNERS LEE</a></li>
      <li><a href="/clarke">CLARKE</a></li>
      <li><a href="/hopper">HOPPER</a></li>
      <li><a href="/lovelace">LOVELACE</a></li>
      <li><a href="/turing">TURING</a></li>
    </ul>
    <h1>Lovelace</h1>
    <hr />
    <img
      src=""
      alt=""
    />
    <p>
      Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta
      Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y
      escritora británica, célebre sobre todo por su trabajo acerca de la
      computadora mecánica de uso general de Charles Babbage, la denominada
      máquina analítica.
    </p>
    <img
      src="/images/lovelace.jpg"
      alt="esta es un imagen más reciente de Babbage"
    />
  </body>
</html>
